#trajacten
    .wrap.right
        h5 <span data-insert="studietrajecten.postgraduaten">#</span> postgraduaten
        h3 <span data-insert="studietrajecten.afstudeerrichtingen">#</span> afstudeerrichtingen
    h1 Meer dan <span data-insert="studietrajecten.trajecten">#</span> studietrajecten
    .wrap
        h2.left <span data-insert="studietrajecten.studiegebieden">#</span> studiegebieden
        h5 Talloze navormingen
    .wrap.sleft
        h4 <span data-insert="studietrajecten.bachelors">#</span> bachelors
        h4 <span data-insert="studietrajecten.banaba">#</span> bachelor-na-bachelors
    h3.right <span data-insert="studietrajecten.masters.length">#</span> master <span data-insert="studietrajecten.masters[0]"></span>