body {
    background: #eeeeee;
}

.row {
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.35em;   
    padding: 40px 0;
    font-size: 1.48em;
    background: url(../img/border.png) bottom center repeat-x;
    
    .left {
        width: 50%;
        float: left;
        position: relative;
        padding-top: 168px;
        background-image: url(../img/revarrow.svg);
        background-repeat: no-repeat;
        background-position: right;
        
        #students {
            background: url(../img/Students.svg) 318px 170px;
            height: 170px;
            width: 318px;
            top: 0;
            overflow: hidden;
            position: absolute;
        }
        
        p {
            padding-left: 85px;   
        }
    }
    
    .right {
        width: 50%;
        float: left;
        position: relative;
        padding-top: 168px;
        background-image: url(../img/arrow.svg);
        background-repeat: no-repeat;
        background-position: left;
        
        #workers {
            background: url(../img/Workers.svg);
            height: 170px;
            width: 318px;
            top: 0;
            right: 0;
            overflow: hidden;
            position: absolute;
        }
        p {
            padding-left: 275px;
        }
    }
    
    &#kotstudenten {
        height: 280px;
        .media {
            background: url(../img/house.svg);
            background-size: cover;
            height: 200px;
            width: 200px;
            position: absolute;
            right: 0;
        }
        
        p {
            float: left;
            max-width: 50%;
            margin: 70px 0;
        }
    }
    &#road {
        .media {
            background: url(../img/roadpiece.svg) repeat-x;
            height: 300px;
            width: 3000px;
            
            #slideText {
                position: absolute;
                right: 400px;
                padding: 20px 0;
                #pStraat {
                    margin-bottom: 150px;
                }
            }
        }
    }
    &#kilometers {
        .media {
            background: url(../img/wheel.svg) no-repeat 100px 100px;
            opacity:0;
            -webkit-animation:spin 4s linear infinite;
            -moz-animation:spin 4s linear infinite;
            animation: spin 4s linear infinite;
            width: 600px;
            height: 600px;
            margin: 0 auto;
            background-size: cover;
            background-position: center;
        }
        p {
            position: absolute;
            top: 270px;
            left: 300px;
            text-align: center;
        }
    }
    
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin {
    100% {
        transform: rotate(360deg);    
    }
}

.inner {
    max-width: 960px;
    margin: 0 auto;
}

.main-wrapper {
    width:  100%;
    overflow: hidden;
}

h2 {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}

#demografie {
    .title {        
        h2 {
            margin:35% auto 60% auto;
            font-size: 4em;
            border: 10px solid;
            border-color: rgba(0,0,0,0.3);
            border-radius: 10px;
            padding:2em 4em;
        }
    }
}

