$timeline-animation-duration: 2s;

#typisch{
    width: 90%;
    margin: auto;
    
    .timeline{
        width: 80%;
        margin: auto;
        position: relative;
        overflow: hidden;
        
        .periodes{
            width: 100%;
            height: 25px;
            
            .wrapper{
                width: 100%;
                height: 100%;
                transition: width $timeline-animation-duration;
                
                .periode{
                    position: relative;
                    width: 25%;
                    height: 100%;
                    float: left;
                    
                    .marker{
                        border-left-color: rgba(#000, 0);
                        border-right-color: rgba(#000, 0);
                    }
                    
                    .marker:first-child{
                        border-left-color: rgba(#000, 1);
                    }
                    
                    .marker:last-child{
                        border-right-color: rgba(#000, 1);
                    }
                    
                    &:first-child{
                        .marker:first-child{
                            border-left: 2px solid;
                        }
                    }
                    
                    &:last-child{
                        .marker:last-child{
                            border-right: 2px solid;
                        }
                    }
                }
            }
        }
        
        .markers{
            height: 25px;
            position: relative;
            z-index: 2;
            
            .marker{
                float: left;
                display: inline-block;
                width: 1/8 * 100%;
                height: 100%;
                box-sizing: border-box;
                border-left: 1px solid;
                border-right: 1px solid;
                transition: border-left-color $timeline-animation-duration/2 ease, border-right-color $timeline-animation-duration/2 ease;
            }
        }
        
        .line{
            position: absolute;
            top: 15px;
            width: 100%;
            height: 10px;
            
            > div{
                height: 100%;
                float: left;
            }
            
            .les{
                width: 75%;
                background: $kdg-green;
            }
            
            .exaam{
                width: 25%;
                background: #62488C;
            }
        }
        
        .txt{
            position: relative;
            
            > div{
                padding: 12px 0;
                text-align: center;
                transition: opacity $timeline-animation-duration/2;
                opacity: 0;
                float: left;
            }
            
            .les{
                width: 6/8 * 100%;
            }
            
            .exaam{
                width: 2/8 * 100%;
            }
            
            .periodes{
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 1;
                padding: 12px 0 30px;
                transition: opacity $timeline-animation-duration/2 ease $timeline-animation-duration/2;
            }
        }
        
        &.zoom{
            .periodes{
                .wrapper{
                    width: 400%;
                }
            }
            
            .marker{
                border-left-color: rgba(#000, 1) !important;
                border-right-color: rgba(#000, 1) !important;
                transition: border-left-color $timeline-animation-duration/2 ease $timeline-animation-duration/2, border-right-color $timeline-animation-duration/2 ease $timeline-animation-duration/2;
                
                &:last-child{
                    border-right: 2px solid;
                }
            }
            
            .txt{
                > div{
                    opacity: 1;
                    transition: opacity $timeline-animation-duration/2 ease $timeline-animation-duration/2;
                }
                
                .periodes{
                    opacity: 0;
                    transition: opacity $timeline-animation-duration/2 ease;
                }
            }
        }
    }
    
    #wrm{
        .reason{
            width: 90%;
            margin: auto 24px;
        }
        
        .progress{
            width: 40%;
            height: 50px;
            border: 5px solid #e2e2e2;
            border-radius: 7px;
            
            .val{
                width: 0%;
                height: 100%;
                background: $kdg-green;
                border-radius: 3px;
                transition: width 1s ease 1s;
                
                *{
                    display: none;
                }
            }
        }
    }
}
