// required
@import "core/normalize";
@import "fonts";
@import "core/bourbon/bourbon";

// vars
$mainFont: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "HelveticaNeue", $helvetica;
$headingFont: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "HelveticaNeue", $helvetica;

$mainColor: #FFF;
$accentColor: #00F;
$textColor: #000;

$navHeight: 0;
$footerHeight: 0;

// core
@import "core";

// app
@import "components";

//sheets
// @import "demografie"; //file does not exist???
@import "trajecten";
@import "typisch";

//clearfix
.clearfix{
    @include clearfix;
}
