doctype html
html
    head
        title Infographic
        link(rel="stylesheet" href="css/style.css")
        include ./includes/scripts.jade
    body
        #container
            header
            main
                // include ./includes/students.jade
            footer
