doctype html
html
    head
        title Infographic
        include ./includes/skrollr.min.js
        include ./includes/scripts.jade
    body
        main
            // include ./includes/students.html