doctype html
html
    head
        title Infographic
        include ./includes/skrollr.min.js
        include ./includes/scripts.jade
    body
        main
            include ./includes/demografie.html
            

<!-- Free icons from Freepik: must be mentioned! <div>Icons made by Freepik, Scott de Jonge, OCHA from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>         is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div> -->