doctype html
html
    head
        title Infographic
        
        link(href='./css/style.css', rel='stylesheet')
    body
        main
            include ./includes/html/demo.html
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
        script(src='./includes/scripts/skrollr.min.js')
        script.
            var s = skrollr.init(smoothScrolling=true);
<!-- Free icons from Freepik: must be mentioned! <div>Icons made by Freepik, Scott de Jonge, OCHA from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>         is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div> -->