doctype html
html
    head
        title Infographic
        link(href='./css/style.css', rel='stylesheet')
    body
        main
            include ./includes/demo.html
            include ./includes/studietrajecten.jade
            include ./includes/typisch.jade
            include ./includes/funfacts.html
            include ./includes/praktijk.html
            include ./includes/credits.html
        include ./includes/scripts.jade

<!-- Free icons from Freepik: must be mentioned! <div>Icons made by Freepik, Scott de Jonge, OCHA from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>         is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div> -->
